<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.js"></script>
    
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#about-head">About</a>
        <a href="#"><i class="fa fa-phone" style="font-size:16px;color:red"></i>&ensp;8826274573</a>
        <a href="#"><i class="fa fa-envelope" style="font-size:16px;color:red"></i>&ensp;impacttaxsolution@gmail.com</a>
        <a href="#" id="login" style="color: aqua;">{{user.username}}</a>
        <a href="/login" id="logout">Logout</a>
    </div>
    <img class="logo" src="media/Logo.jpeg">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p id="main-content">INDIA'S NO.1 REAL ESTATE COMPANY</p>
            <button id="btn" class="btn-primary">ENQUIRE NOW</button>
        </div>
        <div class="col">
        </div>
    </div>
    <div id="about" class="row">
        <div class="row" id="about-head"><h1><u>ABOUT</u></h1></div>
        <div id="about-content" style="text-align: justify;" class="row">
            Awadh Landmark Reality Private Limited is a Private incorporated on 03 October 2020. It is 
            classified as Non-govt company and is registered at<br> Registrar of Companies, Kanpur. Its 
            authorized share capital is Rs. 1,000,000 and its paid up capital is Rs. 100,000. It is 
            inolved in Real estate activities <br> with own or leased property.[This class includes buying, 
            selling, renting and operating of self-owned or leased real estate such as apartment building <br> 
            and dwellings, non-residential buildings,developing and subdividing real estate into lots etc.
            Also included are development and sale of land and <br> cemetery lots, operating of apartment hotels
            and residential mobile home sites.(Development on own account involving construction is classified <br> 
            in class 4520).
            <br>
            <br>
            <br>
         </div>
         <div class="container">
            <div class="row">
                <div id="skill-set" style="background-color: orange; color: black; height: 50px;" class="col ml-5 mb-4">50,000Cr. Worth Properties Sold</div>
                <div id="skill-set" style="background-color: orange; color: black;" class="col ml-5 mb-4">1.25L Buyers</div>
                <div id="skill-set" style="background-color: orange; color: black;" class="col ml-5 mb-4">100+ Developers</div>
            </div>
            <div class="row">
                <div id="skill-set" style="background-color: orange; color: black; height: 50px;" class="col ml-5 mb-4">700+ Projects</div>
                <div id="skill-set" style="background-color: orange; color: black;" class="col ml-5 mb-4">18+ Indian Cities</div>
                <div id="skill-set" style="background-color: orange; color: black;" class="col ml-5 mb-4">4 Countries</div>
            </div>
        </div>
        <h1 id="buylist-head">What are you looking for?</h1>
        <div class="row">
            <div id="buylist" class="card text-dark bg-light mb-3 col ml-5" style="max-width: 18rem;">
                <div class="card-header">For Sale</div>
                <div class="card-body">
                    <h5 class="card-title">Commercial</h5>
                    <p class="card-text">
                        <button id="btnSec" class="btn-secondary my-2">Commercial</button>
                        <button id="btnSec" class="btn-secondary">IT/ITES Office space</button>
                    </p>
                </div>
            </div>
            <div id="buylist" class="card text-dark bg-light mb-3 col ml-5" style="max-width: 18rem;">
                <div class="card-header">For Sale</div>
                <div class="card-body">
                    <h5 class="card-title">Residential</h5>
                    <p class="card-text">
                        <button id="btnSec" class="btn-secondary my-2">Group Housing</button>
                        <button id="btnSec" class="btn-secondary">Pent House</button>
                        <button id="btnSec" class="btn-secondary">Plots</button>
                        <button id="btnSec" class="btn-secondary my-2">Studio Appartments</button>
                        <button id="btnSec" class="btn-secondary">Villas</button>
                    </p>
                </div>
            </div>
            <div id="buylist" class="card text-dark bg-light mb-3 col ml-5" style="max-width: 18rem;">
                <div class="card-header">For Sale</div>
                <div class="card-body">
                    <h5 class="card-title">Plots</h5>
                    <p class="card-text">
                        <button id="btnSec" class="btn-secondary">Residential Plot</button>
                    </p>
                </div>
            </div>
        </div>
        <h1 id="list-head"><u>Our Exclusive Listings</u></h1>
        <div id="cards-row" class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col"></div>
            <div id="card" class="col ml-5">
              <div class="card h-100">
                <img src="media/cleo-county.webp" height="150" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="#" style="font-size: 15pt;">Cleo County</a></h5>
                  <p class="card-text">Cleo County brings to you ready to move flats in Noida sector 121 that give best value for money.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted" style="font-size: 12pt;"><b>Sec-121,Noida</b></small>
                </div>
              </div>
            </div>
            <div id="card" class="col ml-5">
              <div class="card h-100">
                <img src="media/river-wood.jpg" height="150" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="#" style="font-size: 15pt;">River Wood</a></h5>
                  <p class="card-text">Levitate your standards with the royal project 'Riverwood Park' by the renowned Siddharth Group.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted" style="font-size: 12pt;"><b>Sagarli Gaon</b></small>
                </div>
              </div>
            </div>
            <div id="card" class="col ml-5">
              <div class="card h-100">
                <img src="media/smart-world.webp" height="150" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="#" style="font-size: 15pt;">Smart World</a></h5>
                  <p class="card-text">"Smart World Developers" presenting its latest and modern residential development.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted" style="font-size: 12pt;"><b>Sec-61,Golf Course</b></small>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</body>
</html>